#main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 56px;
  height: 100vh;
}

#left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #6a6a6a;
  padding: 2%;
  width: 25%;
}

#profile{
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#name{
  font-size: 24px;
}

#email{
  font-size: 12px;
}

#btn1{ /* Create Private Chatroom */
  padding: 5px;
  background: #07015a;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  box-shadow: none;
  margin: 10px;
}

#btn1:hover {
  background: #12013a;
}

#mychatroom{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

#roombtn{
  padding: 5px;
  background: #c5c5c5;
  color: white;
  font-size: 18px;
  text-align: center;
  border: none;
  box-shadow: none;
}

#roombtn:hover {
  background: #999999;
}

#roombtn:focus {
  border: black 2px solid;
  outline: none;
}

#right{
  background-color: #3b5998;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.hide{
  visibility: hidden;
  /*display:none;*/
}

#top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 0 2%;
}

#addBtn{
  padding: 5px 20px;
  background: #757575;
  color: white;
  font-size: 14px;
  text-align: center;
  border: none;
  box-shadow: none;
  margin: 10px;
}

#addBtn:hover {
  background: #616161;
}

#content{
  background-color: white;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 1%;
}

#start{
  font-size: 40px;
  align-self: center;
  padding: 20px;
}

#bottom{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.me{
  background-color: #2e75b8;
  color: white;
  padding: 3px 10px;
  margin: 2px;
  border-radius: 10px;
  align-self: flex-end;
  /*direction: rtl;*/
}

.other{
  background-color: #d6d6d6;
  padding: 3px 10px;
  margin: 2px;
  border-radius: 10px;
  align-self: flex-start;
}

.me_name{
  margin: 2px;
  align-self: flex-end;
  font-size: 12px;
}

.other_name{
  margin: 2px;
  align-self: flex-start;
  font-size: 12px;
}

#message{
  width: 70%;
}

@media (max-width: 767.98px) {
  #left{
    padding: 0;
    width: 0%;
  }
  #right{
    width: 100%;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }

  #left.open {
    overflow-x: visible;
    padding: 20px;
    width: 100%;
  }
  #right.Close {
    display: none;
  }
}

