#main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 56px;
  height: 100vh;
}

#left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #6a6a6a;
  padding: 2%;
  width: 25%;
}

#profile{
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#photo{
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 100%;
}

#upBtn{
  padding: 5px 10px;
  background: #2c295e;
  color: white;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  margin: 20px;
}

#upBtn:hover{
  background: #07015a;
}

#upload {
  display: none;
}

#name{
  font-size: 24px;
}

#email{
  font-size: 12px;
}

#btn1{ /* Create Private Chatroom */
  padding: 5px;
  background: #2c295e;
  color: white;
  font-size: 16px;
  text-align: center;
  border: none;
  box-shadow: none;
  margin: 10px;
}

#btn1:hover {
  background: #07015a;
}

#mychatroom{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

#roombtn{
  padding: 5px;
  background: #c5c5c5;
  color: white;
  font-size: 18px;
  text-align: center;
  border: none;
  box-shadow: none;
}

#roombtn:hover {
  background: #999999;
}

#roombtn:focus {
  border: black 2px solid;
  outline: none;
}

#right{
  background-color: #3b5998;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.hide{
  visibility: hidden;
  /*display:none;*/
}

#top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 0 2%;
}

#addBtn{
  padding: 5px 20px;
  background: #757575;
  color: white;
  font-size: 14px;
  text-align: center;
  border: none;
  box-shadow: none;
  margin: 10px;
}

#addBtn:hover {
  background: #616161;
}

#content{
  background-color: white;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 1%;
}

#start{
  font-size: 40px;
  /*align-self: center;*/
  padding: 20px;
  position:relative;
  animation-name: left-right;
  animation-duration:10s;
  animation-iteration-count:infinite;
}

@keyframes left-right{
  from{
      left:0%;
  }
  to{
      left:100%;
  }
}

#bottom{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.me{
  background-color: #2e75b8;
  color: white;
  padding: 3px 10px;
  margin: 15px 2px;
  border-radius: 10px;
  align-self: flex-end;
  word-break: break-all;
  max-width: 50%;
}

.other{
  background-color: #d6d6d6;
  padding: 3px 10px;
  margin: 0px 2px 8px 25px;
  border-radius: 10px;
  align-self: flex-start;
  word-break: break-all;
  max-width: 50%;
}

.other_info{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.other_photo{
  align-self: flex-start;
  width: 25px;
  height: 25px;
  margin: 0px 2px;
  border-radius: 100%;
}

.popup {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  word-break: break-all;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.me_name{
  margin: 2px;
  align-self: flex-end;
  font-size: 12px;
}

.other_name{
  margin: 2px;
  align-self: flex-start;
  font-size: 12px;
}

#message{
  width: 70%;
}

#other_profile{
  /*display: none;*/
  background-color: black;
  color: white;
  width:100px;
  height:100px;
}

@media (max-width: 767.98px) {
  #left{
    padding: 0;
    width: 0%;
  }
  #right{
    width: 100%;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }

  .hideImg{
    display: none;
  }

  .showImg{
    display: block;
  }

  #left.open {
    overflow-x: visible;
    padding: 5%;
    width: 100%;
  }
  #right.Close {
    display: none;
  }

  .popup .popuptext {
    left: 25%;
  }
}

