html{
  overflow: hidden;
}

#main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 56px;
  height: 100vh;
  overflow-y: visible;
}

#left{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #6a6a6a;
  width: 25%;
}

#profile{
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#photo{
  width: 70px;
  height: 70px;
  margin: 25px 20px 5px 20px;
  border-radius: 100%;
}

#upBtn{
  padding: 5px 10px;
  background: #2c295e;
  color: white;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  margin: 20px;
}

#upBtn:hover{
  background: #07015a;
}

#upload {
  display: none;
}

#name{
  font-size: 22px;
  font-weight: bold;
  margin: 10px 20px 8px 20px;
}

#email{
  font-size: 12px;
  margin: 8px 20px 20px 20px;
}

#btn1{ /* Create Private Chatroom */
  padding: 10px;
  background: #6a6a6a;
  color: white;
  font-size: 16px;
  text-align: center;
  border-top-style:solid;
  border-bottom-style:solid;
  border-left-style:none;
  border-right-style:none;
  box-shadow: none;
}

#btn1:hover {
  background: #8d8d8d;
}

#btn1:focus{
  outline: none;
}

#mychatroom{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

#roombtn{
  padding: 10px;
  background: #6a6a6a;
  color: white;
  font-size: 18px;
  text-align: center;
  border-top-style:none;
  border-bottom-style:solid;
  border-left-style:none;
  border-right-style:none;
  box-shadow: none;
}

#roombtn:hover {
  background: #8d8d8d;
}

#roombtn:focus {
  outline: none;
}

#right{
  background-color: #3b5998;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.hide{
  visibility: hidden;
}

#top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 0 2%;
}

#addBtn{
  padding: 0px 8px;
  background: #757575;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  margin: 10px;
}

#addBtn:hover {
  background: #616161;
}

#content{
  background-color: white;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 1%;
}

@keyframes left-right{
  0%{
    left:0%;
  }
  100%{
    left:100%;
  }
}

#start{
  font-size: 40px;
  padding: 20px;
  position:relative;
  animation-name: left-right;
  animation-duration:10s;
  animation-iteration-count:infinite;
}

@keyframes large{
  0%{
    transform: scale(0); 
  }
  10%{
    transform: scale(0.1);
  }
  20%{
    transform: scale(0.2);
  }
  30%{
    transform: scale(0.3);
  }
  40%{
    transform: scale(0.4);
  }
  50%{
    transform: scale(0.5);
  }
  60%{
    transform: scale(0.6);
  }
  70%{
    transform: scale(0.7);
  }
  80%{
    transform: scale(0.8);
  }
  90%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}

#me_good{
  align-self: flex-end;
  animation-name: large;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#other_good{
  align-self: flex-start;
  animation-name: large;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.me{
  background-color: #2e75b8;
  color: white;
  padding: 3px 10px;
  margin: 15px 2px;
  border-radius: 10px;
  align-self: flex-end;
  word-break: break-all;
  max-width: 50%;
}

.other{
  background-color: #d6d6d6;
  padding: 3px 10px;
  margin: 0px 2px 8px 25px;
  border-radius: 10px;
  align-self: flex-start;
  word-break: break-all;
  max-width: 50%;
}

.member{ /* joined the chatroom */
  background-color: rgb(196, 236, 247);
  color: gray;
  padding: 2px 8px;
  margin: 10px;
  border-radius: 10px;
  align-self: center;
  word-break: break-all;
  max-width: 50%;
  font-size: 14px;
}

.other_info{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

#other_profile{
  background-color: black;
  color: white;
  width:100px;
  height:100px;
}

.popup {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  word-break: break-all;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.popup .show {
  visibility: visible;
}

.me_name{
  margin: 2px;
  align-self: flex-end;
  font-size: 12px;
}

.other_photo{
  align-self: flex-start;
  width: 25px;
  height: 25px;
  margin: 0px 2px;
  border-radius: 100%;
}

.other_name{
  margin: 2px;
  align-self: flex-start;
  font-size: 12px;
}

#message{
  width: 70%;
}

#bottom{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

#send{
  background-color: #3b5998;
  border: none;
  opacity: 0.8;
}

#send:hover{
  opacity: 1;
}

#send:focus{
  outline: none;
}

#goodBtn{
  background-color: #3b5998;
  color: white;
  border: none;
  opacity: 0.8;
}

#goodBtn:hover{
  opacity: 1;
}

#goodBtn:focus{
  outline: none;
}

@media (max-width: 767.98px) {
  #left{
    padding: 0;
    width: 0%;
  }
  #right{
    width: 100%;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }

  .hideImg{
    display: none;
  }

  .showImg{
    display: block;
  }

  #left.open {
    overflow-x: visible;
    width: 100%;
  }
  #right.Close {
    display: none;
  }

  .popup .popuptext {
    left: 25%;
  }
}

::-webkit-scrollbar-track{
	background-color: #afafaf;
}

::-webkit-scrollbar{
	width: 5px;
  height: 0px;
	background-color: #afafaf;
}

::-webkit-scrollbar-thumb{
	background-color: rgb(0, 0, 0);
	border: none;
}

