body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px 0px;
    background-color: rgb(226, 236, 255);
}

#title{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 40px;
    background-color: #e7e7e7;
}

button{
    align-self: center;
    padding: 10px;
    background: #073c81;
    color: white;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    margin: 20px;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
}

#other{
    margin: 10px;
}
